body {
    background-image: url('https://iimg.su/s/12/L9Z5cCJeUNZ1BpmzAm7Ruo9S6lDI7ewcAdv20Lwx.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.leaf {
    position: fixed;
    top: -10%;
    width: 25px;
    height: auto;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}

.button-bar {
    background-color: #2c2f33;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    height: 70px;
}

.button-bar>div {
    width: 33.33%;
    background: #2c2f33;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;
    transition: color 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.button-bar>div:hover {
    background-color: rgba(48, 48, 48, 0.7);
}

.button-bar>div:active {
    background-color: rgba(48, 48, 48, 0.5);
}

.button-bar>div:hover .emoji,
.button-bar>div:active .emoji {
    color: #18a0fb;
}

.button-bar>div:hover .chat-icon,
.button-bar>div:active .chat-icon,
.button-bar>div:hover .chat-icon svg,
.button-bar>div:active .chat-icon svg {
    color: #18a0fb;
    fill: #18a0fb;
}

.button-bar>div:hover span,
.button-bar>div:active span {
    color: #18a0fb;
}

.avatar-circle {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emoji {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38px;
    line-height: 1;
    transition: color 0.3s;
}

.chat-icon {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 39px;
    height: 39px;
    transition: fill 0.3s;
}

.chat-icon svg {
    width: 100%;
    height: 100%;
    transition: fill 0.3s;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2f33;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    z-index: 10;
    display: none;
}

.profile-header>div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: background-color 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.profile-header span {
    font-size: 18px;
    color: #fff;
}

.profile-content {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 70px;
    display: none;
}

.profile-balance {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgba(44, 47, 51, 0.8);
    border-radius: 10px;
    margin: 20px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;  /* Добавление перехода цвета текста */
}

.profile-balance:hover {
    background-color: rgba(48, 48, 48, 0.7);
}

.profile-balance:active {
    background-color: rgba(48, 48, 48, 0.5);
}

.profile-balance img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.profile-balance svg path {
    transition: fill 0.3s; /* Добавление перехода для стрелки */
}

.profile-balance:hover svg path {
    fill: rgba(24, 160, 251, 1); /* Подсветка стрелки при наведении */
}

.profile-balance:active svg path {
    fill: rgba(24, 160, 251, 0.7); /* Подсветка стрелки при нажатии */
}

.profile-balance span {
    transition: color 0.3s;  /* Добавление перехода цвета текста */
}

.profile-balance:hover span {
    color: rgba(24, 160, 251, 1);  /* Подсветка текста при наведении */
}

.profile-balance:active span {
    color: rgba(24, 160, 251, 0.7);  /* Подсветка текста при нажатии */
}

.profile-avatar {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgba(44, 47, 51, 0.8);
    border-radius: 10px;
    margin: 20px;
    text-align: left;
}

.profile-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.copyable {
    cursor: pointer;
    color: #18a0fb;
    user-select: text;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-buttons a {
    display: block;
    margin: 10px 12px;
    padding: 15px 0;
    border: 1px solid white;
    border-radius: 25px;
    background: rgba(44, 47, 51, 0.8);
    text-align: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
    flex: 1;
}

.profile-buttons a:hover {
    color: rgba(24, 160, 251, 1);  /* Подсветка текста при наведении */
    border-color: rgba(24, 160, 251, 1);  /* Подсветка границ при наведении */
}

.profile-buttons a:active {
    color: rgba(24, 160, 251, 0.7);  /* Подсветка текста при нажатии */
    border-color: rgba(24, 160, 251, 0.7);  /* Подсветка границ при нажатии */
}

@media (max-width: 768px) {
    body {
        background-image: url('https://iimg.su/s/14/f4GfzEeaTTVyWYUrgc10rWPTwZhBVPoHUFT99cEK.jpg');
        background-size: cover;
    }

    .button-bar {
        height: 60px;
    }

    .button-bar>div {
        font-size: 14px;
    }

    .avatar-circle {
        width: 31px;
        height: 31px;
        top: 5px;
    }

    .emoji {
        font-size: 35px;
        left: calc(50% - 1px);
    }

    .chat-icon {
        width: 36px;
        height: 36px;
    }

    .profile-header span {
        font-size: 16px;
    }
}

.highlightable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.profile-header>div:hover svg,
.profile-header>div:active svg {
    color: #18a0fb;
    fill: #18a0fb;
}

.popup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%; /* Установлено на 75% ширины экрана */
    height: 75%; /* Установлено на 75% высоты экрана */
    background-color: #2c2f33; /* Полностью непрозрачный */
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 20;
    padding: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Смещение на центр экрана */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-modal.show {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-modal .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.popup-modal .modal-button {
    display: block;
    margin: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(44, 47, 51, 0.8);
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
    width: 80%;
    text-align: center;
}

.popup-modal .modal-button:hover {
    color: rgba(24, 160, 251, 1); /* Подсветка текста при наведении */
    border-color: rgba(24, 160, 251, 1); /* Подсветка границ при наведении */
    transition: color 0.3s, border-color 0.3s;
}

.popup-modal .modal-button:active {
    color: rgba(24, 160, 251, 0.7); /* Подсветка текста при нажатии */
    border-color: rgba(24, 160, 251, 0.7); /* Подсветка границ при нажатии */
    transition: color 0.3s, border-color 0.3s;
}

.arrow-icon {
    width: 32px;
    height: 32px;
    margin-left: auto;
}
